@font-face {
    font-family: 'Noto Sans Malayalam';
    src: url('NotoSansMalayalam-Bold.woff2') format('woff2'),
        url('NotoSansMalayalam-Bold.woff') format('woff'),
        url('NotoSansMalayalam-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Malayalam';
    src: url('NotoSansMalayalam-Regular.woff2') format('woff2'),
        url('NotoSansMalayalam-Regular.woff') format('woff'),
        url('NotoSansMalayalam-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

